.aboutContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.aboutImageContainer {
  padding-right: 2rem;
}

.aboutTextContainer {
  flex: 1;
  font-size: 1.1rem;
  padding: 0 15px 0 15px;
  border-radius: 15px;
  font-family: Calibri, 'Trebuchet MS', sans-serif;
  color: #787e8f;
  background-color: #1d202a;
}

@media (max-width: 768px) {
  .aboutContainer {
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }

  .aboutImageContainer {
    padding-right: 0;
    margin-bottom: 1rem;
  }
}
